<!DOCTYPE html>
<html lang="en">
  <%- include("./cssjs.ejs") %>
  <body class="mainPage">
    
<header>
  <h1>My Shopping list</h1>
</header>

    <main>

      <div class="indexList">
            <% for (let i = 0; i < list.length; ++i) { %>

              <a class="indexHyperlink" href="/list/<%= list[i]._id %>">
                

              <div class="indexBorder">
                <h1 class="items"><%= list[i].item %></h1> </a>

                <h3 class="store"><%= list[i].location %></h3>

                <h3 class="quantity"><%= list[i].quantity %></h3>

                <h3 class="cost"><%= list[i].cost %></h3>
              </div>

            <% } %>
      </div>
       
      <div class="indexButton">
        <a  href="/list/new"><button class="Button">Add an Item</button></a>
      </div>

    </main>
  </body>
</html>