<!DOCTYPE html>
<html lang="en">
  <%- include('./cssjs.ejs') %> 
  <body class="showPage">

    <main>
      
      <h1 class="name"> <%= list.item %> </h1>

      <div class="contents">
  
        <h2>
            <%= list.brand %>
          </h2> 

        <h2>
            <%= list.location %>
          </h2>

        <h2>
            <%= list.cost %>
          </h2>

        <h2>
            <%= list.quantity %>
          </h2>

        <h2> 
            <%= list.purchased ? "Purchased" : "Not Purchased" %>
          </h2>
      </div>
          
          <a href="/list/<%= list._id %>/edit"><button class="sButtons">Edit this Item</button></a>

          <form action="/list/<%= list._id %>?_method=DELETE" method="POST">

            <button class="sButtons">Delete this Item</button>

          </form>

         
            <a  href="/list"><button class="sButtons">Dashboard</button></a>
          
          
        </article>
      
    </main>
  </body>
</html>